<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    {% comment %} <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.upstatement.com/" target="_blank">Upstatement</a> building things for the web with some awesome people. I recently graduated from
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">Northeastern University</a> after completing three awesome six-month co-ops at
      <a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a>,
      <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>.
    </p> {% endcomment %}

    <p>
      I'm a self taught python developer currently working as a freelance developer
      building things on the web with some awesome people. I recently graduated from
      <a class="underline-link" href="https://www.unilorin.edu.ng/" target="_blank">University of Ilorin</a> after completing awesome six-months Internship at
      <a class="underline-link" href="https://www.iita.org/" target="_blank">IITA Ibadan as a data analyst.</a>,
      <a class="underline-link" href="#" target="_blank">IWET as a software developer</a>, and
      <a class="underline-link" href="@" target="_blank">HNGi7</a> as a backend developer.
    </p>

    <p>
      As a software developer, I take keen interest to solving problems &mdash; combining my technical knowledge and my dote for analytic. My goal is to build softwares that solve problems 
      and which are scalable.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably fellowshipping or playing COD
    </p>

    {% include employment-status.html %}
  </div>
</section>
